table#MainBar
{
border-collapse: separate;
border-spacing: 20px 7px;
}

div#MainBar
{
background-color:4F81BD;
}

img#picture
{
float:right;
margin-top:-70px;
margin-right:30px;
}


h1{color:white}

td#Logo
{
float:center;
}



img#logo
{
width=100px;
height=100px;
}


button#HomePage
{
background-color:F79646;
color:white;
border-style: solid;
border-color:B66D31;
border-width:2px;
width:150;
}

button#LogOut
{
background-color:F79646;
color:white;
border-style: solid;
border-color:B66D31;
border-width:2px;
width:150;
}

button#Profile
{
background-color:F79646;
color:white;
border-style: solid;
border-color:B66D31;
border-width:2px;
width:150;
}

button#Upload
{
background-color:F79646;
color:white;
border-style: solid;
border-color:B66D31;
border-width:2px;
width:150;
}

div#SearchBar
{
background-color:4F81BD;
width:300px;
height:480px;
border: 2px solid;
border-radius: 25px;
margin:20px;
}


input#SearchEngine
{
width: 50%;
margin: 13 auto;
}


p#or
{
color:white;
text-align: center;
font-size: 21px;
}

div#googleMap
{
width: 50%;
margin: 13 auto;
}

p#ChooseUserName
{
color:F79646;
font-size: 18px;
margin:1% auto;
}

input#ChooseUserName
{
width:100px;
}


table#ChooseUserName
{
border-collapse: separate;
border-spacing: 5px 3px;
}


button#Search
{
background-color:F79646;
color:white;
border-style: solid;
border-color:B66D31;
border-width:2px;
width: 50%;
margin: 23 auto;
display:block;
}


