div#SearchResults
{
width:883px;
height:400px;
background-color:AFC7EF;
margin-left:380px;
margin-top:0px;
border: 2px solid;
border-radius: 25px;
}


p#SearchResultsTitle
{
margin-left:387px;
margin-top:-470px;
font-size:24px;
}

p1
{
margin:30px;
font-size:18px;
color:F79646;
}
