{% extends "app/base.html" %}
{% block title %}
Home Title
{% endblock %}

{% block content  %}
      <div class="jumbotron" style="background-color:white">
<video width="500" height="350" style="width:693px;height:400px;margin-left:-57px;margin-top:-60px; border: 2px solid;background-color:black">
  <source src="{{ STATIC_URL }}videos/123abc.mp4" type="video/mp4">
  <source src="{{ STATIC_URL }}videos/123abc.ogg" type="video/ogg">
  <source src="{{ STATIC_URL }}videos/123abc.webm" type="video/webm">
  <object data="{{ STATIC_URL }}videos/123abc.mp4" width="320" height="240">
    <embed src="{{ STATIC_URL }}videos/123abc.mp4" width="320" height="240">
  </object>
</video> 
      </div>

      <div class="row marketing" style = "margin-top:-60px;">
        <div class="col-lg-6">
          <h4>Ukraine Riot</h4>
          <p>Uploader: RonLipel<br>Views: 124,151<br>Rating: 6.7<br>Tags: #ukraine #violence #annexation #crimea #kiev </p>
        </div>
      </div>
{% endblock %}





